/*
 * @Authors David Soller, Chris McManamon, Matt Rea, & Kris Wenger
 */
body {
	width: 400px;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	background-image: url("obj/Pictures/map.jpg");
	background-repeat: repeat-y;
}

.text {
	text-align: center;
	font-color: blue;

}

.four-square > div {
	width: 50%;
	float: left;
	height: 100px;
}
.color-1 {
	background-color: white;
	font-family: courier;
}
.color-2 {
	background-color: red;
	font-family: courier;
}
.color-3 {
	background-color: green;
	font-family: courier;
}
.color-4 {
	background-color: blue;
	font-family: courier;
}
